*{
    padding:0;
    margin:0;
    font-family: sans-serif;
}
.navBar{
  height: 80px;
  width: 100%;
  background-color: #0cafff;
  position:sticky;
  top:0px;
}
.nav1>h1{
    text-align: center;
    color:white;
}
.nav2>button{
    width:10%;
    height:30px;
    border-radius: 10px;
    /* text-align: center; */
    font-size: 18px;
    background-color: rgba(255, 127, 229, 0.913);
    color:white;
    font-weight: 600;
    cursor:pointer;
    margin-left: 20px;
}
.eachUser{
    height:300px;
    width:400px;
    border:2px solid red;
    padding:30px 0px 0px 40px;
    margin-left: 30px;
    margin-top:10px;
    background-color: #0cafff;
    color:white;
}